@charset "UTF-8";
body {
  background-color: #303030;
  margin:0;
}
body.page2{
  background-color: #ffffff;
}

body.page3{
  background-color: #303030;
}
p {
  color: #ffffff;
  font-family: "游ゴシック体", "Yu Gothic", sans-serif;
  font-size: 100%;
  line-height: 2.5;
  text-align: center;
}
.light img{
  width: 200px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: top center;
  animation: swing 3s infinite ease-in-out;
}

@keyframes swing{
  0% { transform: translateX(-50%) rotate(-2deg); }
  50% { transform: translateX(-50%) rotate(2deg); }
  100% { transform: translateX(-50%) rotate(-2deg); }
}

.page{
  display:none;
  margin-top: 200px;
}

.show{
  display:block;
}
